.card-slider {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.card-slider::-webkit-scrollbar {
  display: none;
}

.card-slider-container {
  position: relative;
  height: 100%;
}

.card-slider-btns {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-slider-nav-container {
  display: flex;
  align-items: center;
}

.nav-container-left {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.5s;
  height: 100%;
}

.nav-container-right {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transition: all 0.5s;
  height: 100%;
}

.card-slider-nav-right,
.card-slider-nav-left {
  border: none;
  transition: all 0.5s;
  height: 45%;
}

.card-slider-nav-right {
    opacity: 0.5;
    background: transparent;
    border-radius: 15px 0 0 15px;
}

.card-slider-nav-right:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 15px #000000;
  box-shadow: 0 0 15px #000000;
  backdrop-filter: brightness(0.5);
  transition: opacity 0.5s;
}


.card-slider-nav-left {
    opacity: 0.5;
    background: transparent;
    border-radius: 0 15px 15px 0;
  }

.card-slider-nav-left:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    backdrop-filter: brightness(0.5);
    transition: opacity 0.5s;
}
